@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/blur1.png');
  background-size:cover ;
  background-attachment: fixed;
}

.ant-layout{
  background: transparent !important;
}

code {
  font-family: 'Ubuntu', sans-serif;
}
